{%load static%}

<!doctype html>
<html lang="en" class="h-100">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<title>RealChat: Private chat</title>
	<style>
		.sidebar-users:hover {
			background-color: #eeeeee;
			text-decoration: none;
		}

		#my-message {
			text-align: right;
			margin-right: 30px;

		}

		#my-message span {
			background: #eeeeee;
			padding: 20px;
			border-radius: 50px;
			display: inline-block;
			max-width: 600px;
			text-align: left;

		}

		#user-message span {
			background: #dddddd;
			padding: 20px;
			border-radius: 50px;
			display: inline-block;
			max-width: 600px;
		}
	</style>

</head>


<body style="background-color: #ffffff;" class="h-100">


	<!-- Navigation top bar -->
	<nav class="navbar bg-dark m-0">
		<span class="navbar-brand mb-0 h1 mx-auto text-light"><strong id="destination-user"></strong></span>

		<div class="dropdown">
			<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{user.username}}</a>

			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
				<a href="{%url 'password_change' %}" class="dropdown-item">Change password</a>
				<div class="dropdown-divider"></div>
				<a href="{%url 'logout' %}" class="dropdown-item">Logout</a>
			</div>
		</div>
	</nav>

	<div class="row w-100" style="height: 90%;">


		<!-- Navigation side bar -->
		<div class="col-2">
			<nav class="text-dark bg-light m-0 border-right" style="height:100%; width:100%;">
				<ul style="list-style-type: none;" class="p-0 text-center">
					<li class="py-3 text-danger border-bottom "><strong> ALL USERS </strong></li>

					<div id="all-users">

						{%for u in all_users%}
						{%if u != user.username%}

						<a href="#" style="text-decoration:none;">
							<li class="sidebar-users py-3 text-success border-bottom"
								onclick='setDestinationUser(this)'>
								<strong>{{u}}</strong></li>
						</a>

						{%endif%}
						{%endfor%}

					</div>


					<div id="active-users" class="text-success"> </div>
				</ul>
			</nav>
		</div>

		<div class="col-10 h-100">
			<div class="h-100">
				<!-- Chat log -->
				<div class="bg-light rounded pt-5 mb-3" style="overflow:auto; height: 90%;" id="chat-log">

					<div class="container text-center text-muted" id="heading">
						<h1>Talk to someone now!</h1>
					</div>

				</div>

				<!-- Taking user input message in (hidden by default)-->
				<input id="chat-message-input" class="mr-2 col-11" placeholder="Type as {{user.username}}" autofocus
					type="text" hidden>
				<input id="chat-message-submit" type="button" class="rounded btn btn-primary" value="Send" hidden>

			</div>


			<script>
				// called when user clicks on one of the users listed in sidebar
				function setDestinationUser(obj) {

					// unhide the inputbox and submit button
					document.getElementById("chat-message-input").hidden = false
					document.getElementById("chat-message-submit").hidden = false
					document.getElementById("heading").hidden = true


					let destination_user = obj.innerText

					// reset the destination user in the nav bar
					document.getElementById("destination-user").innerText = destination_user

					// create the new chatsocket
					var chatSocket = new WebSocket(
						'ws://' +
						window.location.host +
						"/" +
						"privatechat/" +
						"{{user.username}}/" +
						destination_user + "/"
					);


					// when data arrives from the server
					chatSocket.onmessage = function (e) {

						const data = JSON.parse(e.data);


						// if the page/websocket is reloaded
						if (data.reset == true) {
							document.getElementById.innerHTML = ""

							// format the message 
							data.message.split("\n").slice(0, -1).forEach((line) => {
								let arr = line.split(":")
								arr.shift()
								arr = arr.join(":")

								// if the line is my message
								if (line.split(":")[0] == "{{user.username}}") {
									document.getElementById("chat-log").innerHTML +=
										`<p id="my-message"><span>${arr}</span></p>`
								}

								// if the line is destination user's message
								else
									document.getElementById("chat-log").innerHTML +=
									`<p id="user-message"><span>${arr}</span></p>`

							})

						}

						// if the message came when user was talking to destination user
						// ie, page/websocket didnot reload
						else {

							if (data.from_user == destination_user) {
								let arr = data.message.split(":")
								arr.shift()
								arr = arr.join(":")

								// if the received message is an echo back from the server
								if (data.hasOwnProperty("echo"))
									document.getElementById("chat-log").innerHTML +=
									`<p id="my-message"><span>${arr}</span></p>`

								// if the received message came from the destination user
								else
									document.getElementById("chat-log").innerHTML +=
									`<p id="user-message"><span>${arr}</span></p>`
							}
						}

						updateScroll()

					}


					// when websocket connection closed by the server
					chatSocket.onclose = function (e) {
						console.error('Chat socket closed unexpectedly');
					};


					// when the user submits the written message by clicking the submit button
					document.getElementById("chat-message-submit").onclick = () => {
						// get the written message
						message = document.getElementById("chat-message-input").value

						// only send the message to server if user did not input just a series of whitespaces
						if (message.trim() != "") {
							message = "{{user.username}}: " + message + "\n"

							chatSocket.send(JSON.stringify({
								"message": message
							}))

							document.getElementById("chat-message-input").value = ""
						}
					}

					// click the submit button when enter key is pressed
					document.querySelector('#chat-message-input').onkeyup = function (e) {
						if (e.keyCode === 13) { // enter, return
							document.querySelector('#chat-message-submit').click();
						}
					};

				}

				function updateScroll() {
					var element = document.getElementById("chat-log");
					element.scrollTop = element.scrollHeight;
				}
			</script>

		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>