<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Chat room</title>
</head>

<body style="background-color: #ffffff;" class="h-100">
    <nav class="navbar bg-dark m-0">
        <span class="navbar-brand mb-0 h1 mx-auto text-light"><strong>{{room_name}}</strong></span>
    </nav>

    <div class="row w-100" style="height: 90%;">
        <div class="col-2">
            <nav class="text-dark bg-light m-0 border-right" style="height:100%; width:100%;">
                <ul style="list-style-type: none;" class="p-0 text-center">
                    <li class="py-3 text-success border-bottom "><strong> ACTIVE USERS </strong></li>
                    <div id="active-users">
                    </div>
                </ul>
            </nav>
        </div>
        <div class="col-10 h-100">
            <div class="h-100">
                <div class="bg-light rounded shaodw pl-2 pt-3 pb-3 mb-3" style="overflow:auto; height: 90%;"
                    id="chat-log">
                </div>
                <input id="chat-message-input" autofocus class="mr-2 col-11" placeholder="Type as {{username}}"
                    type="text">

                <input id="chat-message-submit" type="button" class="rounded btn btn-primary" value="Send">
            </div>

            <script>
                const username = "{{username}}"
                const roomName = "{{room_name}}"

                const chatSocket = new WebSocket(
                    'ws://' +
                    window.location.host +
                    "/" +
                    "groupchat/" +
                    roomName +
                    "/" +
                    username +
                    '/'
                );

                var all_messages = "";
                var new_messages;

                chatSocket.onmessage = function (e) {
                    const data = JSON.parse(e.data);

                    // reset the list of active users
                    document.getElementById("active-users").innerHTML = ""
                    console.log(data.all_users)
                    
                    data.all_users.forEach((user) => {
                        document.getElementById("active-users").innerHTML += `<li class="p-3">${user}</li>`
                    })

                    if (data.messages.trim() != "") {

                        // split the received message in new lines
                        all_messages = data.messages.split("\n")
                        // convert all_messages username part to bold
                        makeBold()

                        data.messages = new_messages.join("<br>")
                        document.querySelector('#chat-log').innerHTML = (data.messages);

                        // bring the scrollbar to bottom
                        var messageBody = document.querySelector('#chat-log');
                        messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;

                    }
                };

                // makes the username appear bold
                function makeBold() {
                    new_messages = []

                    all_messages.forEach(function (msg) {
                        var words = msg.split(":")
                        words[0] = "<strong>" + words[0] + "</strong>"
                        new_messages.push(words.join(": "))
                    })
                }

                chatSocket.onclose = function (e) {
                    console.error('Chat socket closed unexpectedly');
                };

                document.querySelector('#chat-message-input').onkeyup = function (e) {
                    if (e.keyCode === 13) { // enter, return
                        document.querySelector('#chat-message-submit').click();
                    }
                };

                document.querySelector('#chat-message-submit').onclick = function (e) {
                    const messageInputDom = document.querySelector('#chat-message-input');
                    const message = messageInputDom.value;

                    if (message.trim() != "")
                        chatSocket.send(JSON.stringify({
                            'messages': username + ": " + message
                        }));

                    messageInputDom.value = '';
                };
            </script>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>